[submodule "src/ProjectFiles"]
	path = src/ProjectFiles
	url = https://github.com/BlazesRus/Tangaria_tools.git
[submodule "src/SPProjectFiles"]
	path = src/SPProjectFiles
	url = https://github.com/BlazesRus/SPAngbandProject
